*{
   margin: 0;
   padding: 0; 
}
header{
    position: absolute;
    width: 90%;
    padding: 3% 5%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;

}

section.first-section{
    background-color: blueviolet;
    background-image: url('Object.png');
    padding-top:200px;
    text-align: center;
}

.first-section div h1{
font-family: Source Sans Pro;
font-weight: 700;
font-size: 120px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color:#fff;
margin-bottom:20px;
}

.first-section div span{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color:#fff;
padding: 0px 20px;
padding-top: 20px;
}

.first-section div button{
    background: #C271FF;
    color:#fff;
    border:none;
    border-radius:100px;
    padding:20px 30px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
    box-shadow: #000 0px 3px 10px;
}

.logo{
height:30px;
}

.first-section div h2{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #fff;
}

h2 span.learn{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
color: #C271FF;
}

.team-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px;
    width: 80%;
    margin: 0 auto;
}

.team-box img{
    width: 150px;
    border-radius: 200px;
}

.team-box div{
    width: 150px;
}

.team-box h3{
    font-family: Source Sans Pro;
font-weight: 900;
font-size: 18px;
line-height: 27px;
letter-spacing: 0px;
text-align: center;
color: #fff;
}

.team-box p{
    font-family: Source Sans Pro;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
text-align: center;
color: #fff;
}

.quote{
    background: #C271FF;
   padding: 100px 80px;
}

.quote-box{
     display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.quote-img{
    padding-right: 50px;
}

.quote-text blockquote{
    font-family: Source Sans Pro;
font-weight: 400;
font-size: 22px;
line-height: 33.6px;
letter-spacing: 0px;
color: #fff;
}

.quote-text h3{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 22px;
line-height: 33.6px;
letter-spacing: 0px;
color: #fff;
}

.quote-text p{
font-family: Source Sans Pro;
font-weight: 400;
font-size: 22px;
line-height: 33.6px;
letter-spacing: 0px;
color: #fff;
}

section.videos{
    background-color: #fff;
    padding:70px;
}

.videos h2{
    font-family: Source Sans Pro;
font-weight: 300;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
}

.videos h2 span{
    font-family: Source Sans Pro;
font-weight: 300;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #C271FF;
}

.videos-box{
    display: flex;
    justify-content: space-evenly;
}
.video-item{
    width: 255px;
    margin-top:60px;
    position:relative;
}

img.play{
    position:absolute;
    top:40px;
    left: 90px;
}

.video-item h3{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
padding:15px;
}

.video-item p{
    font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
padding: 0 15px;
}

.author{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    margin-top: 10px;
}

.author img{
    width: 30px;
}

.author h4{
    font-family: Source Sans Pro;
font-weight: 600;
font-size: 14px;
line-height: 27px;
letter-spacing: 0px;
color: #C271FF;
padding-left:10px;
}

.video-foot{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px;
    align-items: center;
}

.video-foot img{
    height: 15px;
}

.video-foot p{
    font-family: Source Sans Pro;
font-weight: 600;
font-size: 14px;
line-height: 27px;
letter-spacing: 0px;
text-align: right;
color:#C271FF;
}

.membership{
    background: #071629;
    padding:70px;
    text-align: center;
}

.membership h2{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #fff;
margin-bottom: 60px;
}

.membership h2 span{
    font-family: Source Sans Pro;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color: #C271FF;
}

.membership-box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.membership-item{
    text-align: center;
    width: 257px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.membership-item img{
height:35px;
margin-bottom: 30px;
}

.membership-item h3{
font-family: Source Sans Pro;
font-weight: 600;
font-size: 18px;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color:#fff;
}

.membership-item p{
font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: #fff;
}

.membership button{
    font-family: Source Sans Pro;
font-weight: 600;
font-size: 14px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
margin: 0 auto;
color: #fff;
background-color: #C271FF;
padding:15px 30px;
margin-top: 20px;
border: none;
border-radius: 200px;;
}

