body,main{
    display: flex;
}

body{
    flex-direction: column;
    background-color: aquamarine;
}

main{
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
    border:1px solid #cccccc;
}

.logo{
    color:red;
}

aside{
    flex: 1;
    overflow-y: auto;
}
